In [ ]:
from sklearn.metrics import silhouette_score, jaccard_score, davies_bouldin_score, calinski_harabasz_score, adjusted_rand_score, adjusted_mutual_info_score, fowlkes_mallows_score
import pandas as pd

In [ ]:
seuData = pd.read_csv("F:/DIBYENDU/SSL/Results/seuratDataBaronHuman.csv", header=0, index_col=0, sep=",")

In [ ]:
seuData.head()

,0,1,2,3,4,5,6,7,8,9,...,6909,6910,6911,6912,6913,6914,6915,6916,6917,6918
ABCC3,-0.266480,-0.266480,-0.266480,-0.266480,-0.266480,-0.266480,-0.266480,-0.266480,-0.266480,-0.266480,...,-0.266480,-0.266480,-0.266480,-0.266480,-0.266480,-0.266480,-0.266480,-0.266480,-0.266480,-0.266480
ABCC8,0.549700,0.758853,1.036893,0.533552,2.138017,0.845650,2.010159,-0.010915,-0.698338,0.845289,...,1.582126,0.668180,3.359331,-0.698338,1.167393,-0.698338,-0.698338,-0.698338,-0.698338,-0.698338
ABHD2,-0.592663,-0.592663,-0.592663,-0.592663,-0.592663,0.872626,-0.592663,-0.592663,-0.592663,-0.592663,...,-0.592663,2.001066,-0.592663,1.992161,1.911390,-0.592663,-0.592663,-0.592663,2.099871,-0.592663
ABL1,-0.419755,-0.419755,-0.419755,-0.419755,-0.419755,-0.419755,-0.419755,-0.419755,-0.419755,1.235974,...,-0.419755,-0.419755,-0.419755,-0.419755,-0.419755,-0.419755,3.024518,-0.419755,-0.419755,-0.419755
ACKR3,-0.127908,-0.127908,-0.127908,-0.127908,-0.127908,-0.127908,-0.127908,-0.127908,-0.127908,-0.127908,...,-0.127908,-0.127908,-0.127908,-0.127908,-0.127908,-0.127908,-0.127908,-0.127908,-0.127908,-0.127908

In [ ]:
seuData = seuData.T

In [ ]:
seuData.head()

,ABCC3,ABCC8,ABHD2,ABL1,ACKR3,ACLY,ACO2,ACP5,ACSL1,ACTA1,...,ZFP36L2,ZMAT3,ZNF331,ZNF395,ZNF503,ZNF703,ZNRF1,ZSWIM4,ZYX,pk
0,-0.26648,0.549700,-0.592663,-0.419755,-0.127908,0.623286,-0.532462,-0.126498,1.641850,-0.076067,...,-0.4138,-0.505612,-0.306058,1.158422,-0.385002,-0.363779,-0.499714,-0.218884,-0.568050,1.770754
1,-0.26648,0.758853,-0.592663,-0.419755,-0.127908,-0.856482,-0.532462,-0.126498,-0.466549,-0.076067,...,-0.4138,-0.505612,-0.306058,0.376272,-0.385002,-0.363779,-0.499714,-0.218884,-0.568050,-0.311683
2,-0.26648,1.036893,-0.592663,-0.419755,-0.127908,-0.856482,0.816916,-0.126498,-0.466549,-0.076067,...,-0.4138,-0.505612,-0.306058,2.839867,1.200034,-0.363779,0.907509,-0.218884,-0.568050,-0.311683
3,-0.26648,0.533552,-0.592663,-0.419755,-0.127908,1.209150,2.002066,-0.126498,1.005025,-0.076067,...,-0.4138,-0.505612,-0.306058,1.673877,-0.385002,-0.363779,-0.499714,-0.218884,0.666875,-0.311683
4,-0.26648,2.138017,-0.592663,-0.419755,-0.127908,0.985508,1.312919,-0.126498,0.845701,-0.076067,...,-0.4138,-0.505612,-0.306058,2.587368,-0.385002,-0.363779,-0.499714,-0.218884,-0.568050,-0.311683

In [ ]:
seuClass = pd.read_csv("F:/DIBYENDU/SSL/Results/predClassSeuratBaronHuman.csv", header=0, sep=",")

In [ ]:
seuClass = seuClass['seurat_clusters']

In [ ]:
unlab = [2807, 3153, 2884, 6383, 5303, 1310, 3704, 5000, 5426, 5568, 5575, 388]

In [ ]:
seuData.reset_index(inplace=True, drop=True)

In [ ]:
seuratData = seuData.loc[~seuData.index.isin(unlab)]

In [ ]:
seuratClass = seuClass.loc[~seuClass.index.isin(unlab)]

In [ ]:
#predictedData = pd.read_csv("F:/DIBYENDU/SSL/Results/predictedData130148.csv", header=0, index_col=0, sep=",")
#predictedLabels = pd.read_csv("F:/DIBYENDU/SSL/Results/predictedLabels130148.csv", header=0, index_col=0, sep=",")

In [ ]:
#predictedData.shape

In [ ]:
print('Results (Seurat): \n')
print('Silhouette Score: {0:.2f}'.format(silhouette_score(seuratData, seuratClass)))
print('Davies Bouldin Score: {0:.2f}'.format(davies_bouldin_score(seuratData, seuratClass)))
print('Calinski Harabasz Score: {0:.2f}'.format(calinski_harabasz_score(seuratData, seuratClass)))

Results (Seurat):

Silhouette Score: 0.03
Davies Bouldin Score: 3.84
Calinski Harabasz Score: 202.07

In [ ]:
#print('Results (Proposed): \n')
#print('Silhouette Score: {0:.2f}'.format(silhouette_score(predictedData, predictedLabels['Predicted Label'].values)))
#print('Davies Bouldin Score: {0:.2f}'.format(davies_bouldin_score(predictedData, predictedLabels['Predicted Label'].values)))
#print('Calinski Harabasz Score: {0:.2f}'.format(calinski_harabasz_score(predictedData, predictedLabels['Predicted Label'].values)))